*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Nav Bar */
/* nav{ */
    /* position: fixed; */
    /* width: 100%; */
    /* display: flex; */
    /* background-color: darkslategray; */
    /* justify-content: space-between; */
    /* padding: 0 30px; */
    /* height: 55px; */
    /* align-items: center; */
    /* color: white; */
/* } */

#logo{
    top: 0;
    padding: 0 30px;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vmax;
    background-color: darkslategray;
    height: 55px;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
}

nav ul{
    display: flex;
    list-style: none;
    position: fixed;
    left: 0;
    top: 55px;
    height: 100%;
    width: 50px;
    line-height: 30px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(62, 104, 104);
    overflow-x: hidden;
}

nav ul li a{
    color: white;
    text-decoration: none;
    height: 30px;
    display: block;
}

nav ul li{
    display: block;
    text-align: left;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li:hover{
    border-color: lightblue;
    background-color: darkslategray;
}

nav ul li a:hover{
    color: lightskyblue;
}

nav ul li a i{
    font-size: 16px;
    text-shadow: none;
    width: 15px;
    padding-left: 11px;
    padding-right: 10px;
}
nav ul li a span{
    display: none;
}

.menu{
    display: block;
    cursor: pointer;
    opacity: 0.7;
    width: 30px;
    height: 27px;
    margin-top: 10px;
    margin-right: 11px;
    margin-left: auto;
    margin-bottom: 10px;
    float: right;
    background: url(menu.jpg);
}

nav ul.slide{
    display: flex;
    list-style: none;
    position: fixed;
    left: 0;
    top: 55px;
    height: 100vh;
    width: 200px;
    line-height: 30px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(62, 104, 104);
    overflow-x: hidden;
    align-items: center;
}

nav ul li a span.hidden{
    display: inline;
    font-size: 12px;
}

div.off{
    background-color: #eceef1;
    margin: 65px 10px 10px 60px;
}

div.on{
    margin-left: 210px;
}

/* Login CSS */
.container {
    background-color: rgb(67, 114, 114);
    width: 800px;
    height: auto;
    margin: 80px auto 10px auto;
    padding: 10px 40px 30px 40px;
    border-radius: 6px;
}

.a{
    background-color: #dde3ec;
    height: 30px;
    color: black;
    border: none;
    display: block;
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
}
.b{
    color: whitesmoke;
}
.login, .register{
    height: 40px;
    border: none;
    display: block;
    width: 100%;
    font-size: 15px;
    border-radius: 3px;
    text-decoration: none;
}
.login {
    background-color: rgb(0, 191, 255);
}
.register {
    background-color: #00d600;
}
label{
    color: rgb(95, 95, 95);
}
.form-control{
    background-color: #dde3ec;
    height: 30px;
    color: #8290a3;
    border: none;
    display: block;
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
}

.table1 {
    font-family: sans-serif;
    color: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(67, 114, 114);
}
 
.table1 tr th{
    background: #35A9DB;
    /* color: #fff; */
    font-weight: normal;
}
 
.table1, th, td {
    padding: 8px 20px;
    text-align: center;
    vertical-align: middle;
}
 
.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}

.table2 {
    font-family: sans-serif;
    color: white;
    border-collapse: collapse;
    width: 100%;
}
 
.table2 tr th{
    font-weight: normal;
    text-align: center;
}

.kolom1{
    width: 150px;
}

.table2, th, td {
    padding: 8px 20px;
    text-align: left;
    vertical-align: middle;
}

.edit, .hapus{
    margin: 3px;
    display: block;
    height: 20px;
    width: 60px;
    text-align: center;
    border-radius: 3px;
    color: whitesmoke;
    text-decoration: none;
}
.edit{
    background-color: #00a400;
}
.hapus{
    background-color: red;
}
a{
    text-decoration: none;
}