*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
}
body{
    background-color: rgb(78, 138, 138);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.heading{
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    background-color: darkslategray;
    justify-content: space-between;
    padding-left: 30px;
    height: 55px;
    align-items: center;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
}
.heading ul{
    display: flex;
    right: 0;
    width: 350px;
    padding-right: 60px;
    justify-content: space-between;
}
.nm{
    cursor: pointer;
}
.mdd{
    display: none;
}
.dropdown{
    right: 20px;
    top: 55px;
    position: fixed;
    height: 40px;
    border: none;
    display: block;
    width: 150px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(199, 0, 0);
}
nav ul{
    display: flex;
    list-style: none;
    position: fixed;
    left: 0;
    top: 55px;
    height: 100%;
    width: 50px;
    line-height: 30px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(62, 104, 104);
    overflow-x: hidden;
}
nav ul li a{
    color: white;
    text-decoration: none;
    height: 30px;
    display: block;
}
nav ul li{
    display: block;
    text-align: left;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li:hover{
    border-color: lightblue;
    background-color: darkslategray;
}
nav ul li a:hover{
    color: lightskyblue;
}
nav ul li a i{
    font-size: 16px;
    text-shadow: none;
    width: 15px;
    padding-left: 11px;
    padding-right: 10px;
}
nav ul li a span{
    display: none;
}
.menu{
    display: block;
    cursor: pointer;
    opacity: 0.7;
    width: 30px;
    height: 27px;
    margin-top: 10px;
    margin-right: 11px;
    margin-left: auto;
    margin-bottom: 10px;
    float: right;
    background: url(menu.jpg);
}
nav ul.slide{
    display: flex;
    list-style: none;
    position: fixed;
    left: 0;
    top: 55px;
    height: 100vh;
    width: 200px;
    line-height: 30px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(62, 104, 104);
    overflow-x: hidden;
    align-items: center;
}
nav ul li a span.hidden{
    display: inline;
    font-size: 12px;
}
div.off{
    background-color: #eceef1;
    margin: 65px 10px 10px 60px;
}
div.on{
    margin-left: 210px;
}
/* Login CSS */
.container-table, .container{
    width: 100;
    height: auto;
    margin: 55px 0px 10px 50px;
    padding: 10px 40px 30px 40px;
}
.container {
    width: 800px;
    height: auto;
    margin: 80px auto 10px auto;
    border-radius: 6px;
    background-color: darkslategray;
}
.a{
    background-color: #dde3ec;
    height: 30px;
    color: black;
    border: none;
    display: block;
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
}
.b{
    color: whitesmoke;
}
.login, .register{
    height: 40px;
    border: none;
    display: block;
    width: 100%;
    font-size: 17px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.login {
    background-color: rgb(0, 191, 255);
}
.register {
    background-color: #00d600;
}
label{
    color: rgb(95, 95, 95);
}
.form-control{
    background-color: #dde3ec;
    height: 30px;
    color: #8290a3;
    border: none;
    display: block;
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
}
.table1 {
    font-family: sans-serif;
    color: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(67, 114, 114);
}
.table1 tr th{
    background: darkslategray;
    font-weight: normal;
}
.table1, th, td {
    padding: 8px 20px;
    text-align: center;
    vertical-align: middle;
}
.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}
.table2 {
    font-family: sans-serif;
    color: white;
    border-collapse: collapse;
    width: 100%;
}
.table2 tr th{
    font-weight: normal;
    text-align: center;
}
.kolom1{
    width: 150px;
}
.table2, th, td {
    padding: 8px 20px;
    text-align: left;
    vertical-align: middle;
}
.edit, .hapus{
    margin: 3px;
    display: block;
    height: 15px;
    width: 60px;
    text-align: center;
    border-radius: 3px;
    color: whitesmoke;
    text-decoration: none;
}
.edit{
    background-color: #00a400;
}
.hapus{
    background-color: red;
}
a{
    text-decoration: none;
}
.tb1{
    text-align: center;
}
/* __HALAMAN PROFILE__ */
/* BANNER */
.ban{
    z-index: -1;
    margin-top: 55px;
    margin-left: 50px;
    height: 60vh;
    background-image: url("banner.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ban::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkslategray;
    opacity: 0.5;
}
.ban h1{
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section{
    padding: 30px 0;
}
/* ABOUT */
.about{
    margin: 40px 40px 40px 90px;
    background-color: whitesmoke;
}
section h2{
    font-weight: bold;
    text-align: center;
    font-size: large;
    padding: 20px 0;
    color: black;
}
.about p{
    word-spacing: 2px;
    line-height: 25px;
    text-align: center;
    padding: 0 25px;
}
/* CONTACT */
.contact{
    color: white;
    margin-left: 50px;
    background-color: rgb(37, 61, 61);
}
.contact div h2{
    color: white;
}
.box{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.col-4 h3{
    font-size: large;
    font-weight: bold;
    padding: 15px 0;
}
/* COPYRIGNT */
.copyright{
    font-size: small;
    color: white;
    margin-left: 50px;
    padding: 5px 5px;
    background-color: black;
}